* {
    font-family:arial,verdana;
}
body {
    margin:0;
    padding:0;
    width:100%;
    background:#eaeaea;
}
#react, #react > div {
    display:inline-block;
}
#react, #react > div {
    position:relative;
    margin:auto;
    width:100%;
}

#lista-prods, #produto-detalhe, #error {
    background:#fff;
    display:inherit;
    width:100%;
}
.lista-top {
    position:relative;
    width:100%;
    background:transparent;
    color:#909090;
    font-style:italic;
}
.lista-top span:before {
    content:' | ';
}
.lista-top.lista-top-detalhe span {
    color:#3483fa;
    cursor:pointer;
}
.lista-top.lista-top-detalhe span:last-child {
    color:#1259c3;
}
.lista-top.lista-top-detalhe span:before {
    content:' > ';
    color:#909090;
    padding:0 7px;
}
.lista-top span:first-of-type:before {
    content:'';
    padding:0;
}
.lista-top > p > a {
    color:#333;
    text-decoration:none;
}
.lista-top > p > a:after {
    content:' | ';
    padding:0 7px;
    color:#909090;
}

header {
    background:#FFF059;
    position:fixed;
    width:100%;
    height:51px;
    z-index:290;
    top:0;
    border-bottom:1px solid #d9d9d9;
}
.barra-busca * {
    box-sizing:border-box;
}
.center-content {
    padding-top:50px;
    display:table;
    max-width:1080px;
    width:100%;
}

.center-content, .barra-busca {
    margin:0 auto;
}

.barra-busca {
    background:transparent;
    position:relative;
    display:block;
    z-index:300;
    height:100%;
    padding-left:80px;
    max-width:1000px;
}

.barra-busca > a > img {
    width:50px;
    height:50px;
    position:absolute;
    left:0;
}
.barra-busca > form {
    position:relative;
    padding:5px 0;
    height:50px;
    width:100%;
}

.barra-busca input {
    padding:5px 60px 5px 15px;
    width:100%;
    height:100%;
    border:1px solid #ccc;
}

.barra-busca .btn-busca {
    position:absolute;
    color:#666;
    font-size:16px;
    padding:0;
    line-height:1em;
    width:46px;
    height:40px;
    border:1px solid #ccc;
    background-color:#ffffff;
    background-image:linear-gradient(#fff,#f0f0f0);
    top:5px;
    right:0;
    z-index:320;
    cursor:pointer;
}
.barra-busca i[class^="icon-"] {
    vertical-align:baseline;
}


/* listagem */
.item_lista {
    position:relative;
    width:100%;
    border-bottom:1px solid #ccc;
    float:left;
    padding-right:200px;
    box-sizing:border-box;
}
.item_lista .link_image, .item_lista .link_image > img {
    width:100px;
    height:100px;
    float:left;
    margin:0;
}

.item_lista .link_image {
    margin:25px;
}

.item_lista .item_descr {
    width:70%;
    margin-top:25px;
    font-weight:bold;
    float:left;
}
.item_lista > .desc_right {
    position:absolute;
    height:100%;
    top:0;
    right:0;
    width:200px;
    text-align:center;
    font-size:0.95em;
    color:#909090;
    box-sizing:border-box;
    padding:25px;
    font-style:italic;
    font-weight:bold;
}
.item_lista > .desc_right p {
    margin:0;
}

.item_descr > h2 {
    margin-top:5px;
    margin-bottom:10px;
}
.item_descr > h2 > strong {
    float:left;
    position: relative;
    padding-right:30px;
}
.item_descr > h2 > strong > div {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:25px;
    text-align:right;
    display:block;
}

.item_descr > h2, .item_descr > h3 {
    float:left;
    width:100%;
}
.item_descr > h3 > a {
    margin:0;
    color:#505050;
    text-decoration:none;
    font-size:0.9em;
}



/* detalhe do produto */
#produto-detalhe {
    padding:30px;
}
#produto-detalhe, #produto-detalhe .left, #produto-detalhe .right {
    min-height:650px;
    box-sizing:border-box;
}
#produto-detalhe .left {
    width:74.5%;
    float:left;
}
#produto-detalhe .left img {
    display:block;
    width:400px;
    height:400px;
}
#produto-detalhe .left > h2 {
    margin-top:100px;
}
#produto-detalhe .left p {
    color:#909090;
}
#produto-detalhe .right {
    width:24.5%;
    float:right;
}
#produto-detalhe .right p.right-top {
    font-size:0.8em;
    color:#707070;
    font-weight:bold;
}
#produto-detalhe .right h2, #produto-detalhe .right h3 {
    margin:10px 0;
}


/* não encontrado */
.nao-encontrado {
    width:100%;
    padding-left:100px;
    box-sizing: border-box;
}
.nao-encontrado > h3 , .nao-encontrado > div{
    float:left;
    width:100%;
}

.nao-encontrado .ret-inicial {
    margin:55px 0;
}
.nao-encontrado .ret-inicial > a {
    color:#909090;
    text-decoration:none;
}

/* genéricas */
.bolinha {
    width:15px;
    height:15px;
    display:inline-block;
    background:green;
    border:1px solid transparent;
    border-radius:20px;
    vertical-align:baseline;
}

.hide, body .hide {
    display:none;
}

button.comprar {
    background:blue;
    color:#fff;
    font-weight:bold;
    font-size:1.1em;
    width:90%;
    padding:10px 0;
    border:1px solid transparent;
    border-radius:5px;
}