* {
    font-family:arial,verdana;
}
body {
    margin:0;
    padding:0;
}
/* #react {
    position:relative;
    margin:auto;
    display:inline-block;
    width:1010px;
    text-align:left;
} */

header {
    background:#FFF059;
    position:fixed;
    width:100%;
    height:51px;
    z-index:290;
    border-bottom:1px solid #d9d9d9;
}
.barra-busca * {
    box-sizing:border-box;
}
.barra-busca {
    background:transparent;
    position:relative;
    display:block;
    z-index:300;
    height:100%;
    margin:0 auto;
    max-width:1000px;
    padding-left:80px;
}

.barra-busca > img {
    width:50px;
    height:50px;
    position:absolute;
    left:0;
}
.barra-busca > form {
    position:relative;
    padding:5px 0;
    height:50px;
    max-width:520px;
}

.barra-busca input {
    padding:5px 60px 5px 15px;
    width:100%;
    height:100%;
    border:1px solid #ccc;
}

.barra-busca .btn-busca {
    position:absolute;
    color:#666;
    font-size:16px;
    padding:0;
    line-height:1em;
    width:46px;
    height:40px;
    border:1px solid #ccc;
    background-color:#ffffff;
    background-image:linear-gradient(#fff,#f0f0f0);
    top:5px;
    right:0;
    z-index:320;
    cursor:pointer;
}
.barra-busca i[class^="icon-"] {
    vertical-align:baseline;
}


/* listagem */
.item_lista {
    width:100%;
    border-bottom:1px solid #ccc;
}
.item_lista .link_image, .item_lista .link_image > img {
    width:100px;
    height:100px;
    display:block;
    margin:0;
}

.item_lista .link_image {
    margin:25px;
}

.item_lista .item_descr {
    width:70%;
    margin-top:25px;
    font-weight:bold;
}
.bolinha {
    width:15px;
    height:15px;
    display:block;
    background:green;
    border:1px solid transparent;
    border-radius:20px;
}